body {
    background: #1f0808;
    color: white;
}
 img{
    width: 10%;
    height: 10%;
 }
  nav{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
 p{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
 }